#menu {
    color: #ffffff;
    font-size: small;
}

#menu:hover {
    color: #a9b33b;
}

#button {
    color: #ffffff;
    background-color: #a9b33b;
    font-size: small;
}

#button:hover {
    background-color: #5f6517;
}

.navbar-toggler {
    background-color: #ffffff;
    font-size: small;
}

ul li {
    font-family: "Quicksand";
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
}


@font-face {
    font-family: 'MyFont';
    src: url(/assets/font/00819\ Regular.ttf);
}

header {
    background-image: url(./assets/images/banner.png);
    height: 570px;
    background-repeat: no-repeat;
    background-size: contain;
}

.row {
    --bs-gutter-x: 0rem;
}

#card-color {
    background-color: #d9dda9;

}

/* quotes css and media query */
.quotes .quote-text {
    font-size: 50px;
    line-height: 25px;
    color: #aab33c;
    font-family: MyFont;
    margin-top: 25%;
    margin-left: 38%;
}

.quotes .quote-subtext {
    display: block;
    font-family: "Quicksand";
    font-size: 20px;
    line-height: 10px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 38%;

}

/* page-1 button */
.quotes button {
    display: block;
    height: 40px;
    padding: 10px 12px;
    background-color: #aab33c;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 38%;
}

.quotes button:hover {
    background-color: #899d2b;
    color: rgb(255, 255, 255);
}


@media (max-width: 768px) {
    header {
        height: 350px;
    }

    .quotes .quote-text {
        font-size: 200%;
        margin-top: 18%;
    }

    .quotes .quote-subtext {
        font-size: 77%;
        line-height: 0%;
    }

    .quotes button {
        height: 13%;
        font-size: 50%;
        line-height: 0%;
    }


}

/* @media (min-width: 375px) {
    header {
        height: 200px;
    }

    .quotes .quote-text{
        margin-top: 8%;
        font-size: 120%;
    }

    .quotes .quote-subtext{
        font-size: 35%;
        line-height: 0%;
    }
} */

.card-cont a {
    color: #ffffff;
    max-width: min-content;
}

.card-div {
    width: 10rem;
    height: 10rem;
}

.card-div b {
    font-size: 14px;
    line-height: 28px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

.card-div img {
    width: 97px;
    height: 83px;
    filter: drop-shadow(3.83px 3.214px 7.5px rgba(136, 133, 38, 0.3));
}

.card-img-top {
    transition: all 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.3);
}

@media(max-width: 768px) {
    .card-div {
        width: 10rem;
        height: 9rem;
    }

    .card-div b {
        margin-bottom: 10%;
        font-size: 60%;
        line-height: 0%;
    }

    .card-img-top {
        height: 50%;
        width: 50%;
    }

}

.passage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.passage span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

@media (max-width: 768px) {
    .passage span {
        font-size: 80%;
        line-height: 120%;
    }
}


.phone-para {
    display: block;
    margin-left: 220px;
    font-size: 19px;
    line-height: 27px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.phone-text-col {
    margin-top: 80px;
    margin-left: -54px;
}

.phone-text-col p .phone-span {
    display: block;
    font-size: 10px;
    line-height: 19px;
    color: #404142;
    font-weight: 600;
    font-family: "Quicksand";
    margin-left: 220px;
}


.rec-1 {
    margin-left: 220px;
}

.rec-2 {
    margin-left: 120px;
}

.rec-text-col p .rec-text {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    display: block;
    margin-left: 220px;
}

.rec-text-col p .rec-text-1 {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    display: block;
    margin-left: 120px;
}

@media (max-width: 768px) {
    img.phone.img.img-fluid {
        display: none;
    }

    .phone-para {
        margin-left: 30%;
    }

    .phone-text-col p .phone-span {
        margin-left: 20%;
    }

    .rec-1 {
        margin-left: 40%;
    }

    .rec-2 {
        margin-left: 30%;
    }

    .rec-text-col p .rec-text {
        margin-left: 40%;
    }

    .rec-text-col p .rec-text-1 {
        margin-left: 30%;
    }
}

.layout-4 {
    background-color: rgba(170, 179, 60, 0.102);
    width: 100%;
    height: 560px;
}

.layout-4 .crop .lay-img {
    margin-left: 35%;
    width: 50%;
    height: 90%;
}

.crop {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: -16px;
    right: 15px;
}

.layout-4 .lay-text {
    margin-left: 4%;
    display: block;
    font-size: 35px;
    line-height: 40px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.layout-4 .layout-p .layout-p-span {
    margin-left: 4%;
    display: block;
    font-size: 11px;
    line-height: 5px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
    margin-top: 2%;
}

.layout-4-btn {
    width: 200px;
    height: 35px;
    background-color: #aab33c;
    border: none;
    border-radius: 3%;
    margin-left: 37%;
    color: #ffffff;
    font-family: "Quicksand";
}

.layout-4-btn:hover {
    background-color: #899d2b;
}

@media(max-width: 768px) {
    .layout-4 .crop .lay-img {
        margin-left: 40%;
        width: 55%;
        height: 75%;
    }

    .overlay {
        position: absolute;
        bottom: 56px;
        right: -37px;
        width: 27%;
    }

    .layout-4 .lay-text {
        margin-left: 14%;
        display: block;
        font-size: 22px;
        line-height: 25px;
    }

    .layout-4 .layout-p .layout-p-span {
        margin-left: 13%;
        display: block;
        font-size: 7px;
        line-height: 9px;
        color: #404142;
        font-weight: 500;
        font-family: "Quicksand";
        margin-top: 0%;
    }

    .layout-4-btn {
        width: 158px;
        height: 18px;
        font-size: 10px;
        margin-bottom: 85px;
    }

    .layout-4 {
        background-color: rgba(170, 179, 60, 0.102);
        width: 100%;
        height: 402px;
    }
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(170, 179, 59, 0.3);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}

.table {
    overflow: hidden;
    border-radius: 10px;
    width: 72%;
    margin-left: 15%;
    border-collapse: collapse;
}

.table .tbl-head {

    background-color: #aab33c;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
}

.table .tbl-width {
    width: 65%;
    font-size: 31px;
    padding-bottom: 3%;
}

.table .tbl-head span {
    display: block;
    font-size: 8px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Quicksand";
}

.table td span {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    
}

td.span-2 {
    padding: 10px;
}

td.span-2 p {
    width: 40%;
    font-size: 25px;
    line-height: 14px;
    color: #aab33b;
    font-weight: 700;
    font-family: "Quicksand";
    padding: 10px;
}

td.span-2 pre{
    font-family: "Quicksand";
    float: right;
    font-size: 12px;
}
pre {
    display: block;
    margin-top: -47px;
}
@media(max-width: 768px) {
    .table {
        width: 94%;
        margin-left: 2%;
    }

    .table .tbl-width {
        width: 66%;
        font-size: 28px;
        padding-bottom: 5%;
    }

    .table .tbl-head span {
        font-size: 6px;
    }

    .table .tbl-head {
        line-height: 20px;
    }

    .table td span {
        display: block;
        font-size: 7px;
    }

    img.tbl-img.img-fluid.ms-lg-5.mt-lg-3 {
        width: 25%;
        margin-left: 28%;
        margin-top: 15%;
    }

    span.span-4 {
        margin-top: -3%;
    }
}

.text-img {
    z-index: 1;
}

.text-img-p {
    position: absolute;
    top: 43%;
    left: 21%;
    z-index: 2;
    font-size: 25px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}

body{
    overflow-x: hidden;
}
@media (max-width: 768px) {
    p.text-img-p.position-absolute {
        font-size: 130%;
        margin-left: -9%;
        margin-top: -2%;
    }
}